// .activities-container {
//   background-color: aqua;
//   width: 100%;
// }
.custom-tooltip {
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
}
