.custom-tooltip {
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.activities-container {
  background-color: #e5e5e5;
  margin: 20px;
}
.recharts-wrapper {
  margin: 20px;
}
.header-barChart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.legend-header {
  display: flex;
  justify-content: space-between;
  
}

.legend-icon-black {
  i.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    margin-right: 5px;
  }
}

.legend-icon-red {
  i.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-right: 5px;
  }
}
