// Parent
.dashboard {
  display: flex;
  width: 100%;
  border: 1px solid red;
  flex-direction: row;
  &.blurred {
    // Styles du dashboard flouté
    filter: blur(1px);
    pointer-events: none;
  }
}

// dashboard principale
.dashboard-principal {
  display: flex;
  width: 80%;
  border: 1px solid red;
  flex-direction: column;
}

.welcome-container {
  border: 1px solid yellow;
}

.activities-container {
  border: 1px solid orangered;
}

.progression-container {
  border: 1px solid green;
  display: flex;
  justify-content: space-between;
  // article {
  //   width: 30%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  //   border: 1px solid black;
  //   border-radius: 15px;
  // }
}
// dashboard-aside
.dashboard-aside {
  display: flex;
  width: 20%;
  height: 100%;
  border: 1px solid red;
  flex-direction: column;
}
.nutrition-container {
  border: 1px solid blue;
}
