.spider-container {
  width: 300px;
  height: 300px;
  background-color: rgba(40, 45, 48, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}

.recharts-polar-radius-axis-tick-value {
  display: none;
}

// Ajoutez d'autres styles spécifiques au besoin
